# Introduction to Python and SQL
Provide an overview of Python and SQL, their uses, and how they can be integrated.

In [2]:
# Print a greeting message
print("Hello, Python!")

Hello, Python!

# Python Practice: Data Structures
Practice using Python data structures such as lists, dictionaries, and sets with examples and exercises.

In [3]:
# Python Practice: Data Structures

# Lists
# Creating a list
fruits = ["apple", "banana", "cherry"]
print(fruits)

# Adding an element to the list
fruits.append("orange")
print(fruits)

# Removing an element from the list
fruits.remove("banana")
print(fruits)

# Dictionaries
# Creating a dictionary
student = {"name": "John", "age": 25, "courses": ["Math", "CompSci"]}
print(student)

# Adding a key-value pair to the dictionary
student["grade"] = "A"
print(student)

# Removing a key-value pair from the dictionary
del student["age"]
print(student)

# Sets
# Creating a set
colors = {"red", "green", "blue"}
print(colors)

# Adding an element to the set
colors.add("yellow")
print(colors)

# Removing an element from the set
colors.remove("green")
print(colors)

# Exercises
# 1. Create a list of your favorite movies and print it.
favorite_movies = ["Inception", "The Matrix", "Interstellar"]
print(favorite_movies)

# 2. Create a dictionary with information about your favorite book and print it.
favorite_book = {"title": "1984", "author": "George Orwell", "year_published": 1949}
print(favorite_book)

# 3. Create a set of your favorite music genres and print it.
favorite_genres = {"rock", "jazz", "classical"}
print(favorite_genres)

['apple', 'banana', 'cherry']
['apple', 'banana', 'cherry', 'orange']
['apple', 'cherry', 'orange']
{'name': 'John', 'age': 25, 'courses': ['Math', 'CompSci']}
{'name': 'John', 'age': 25, 'courses': ['Math', 'CompSci'], 'grade': 'A'}
{'name': 'John', 'courses': ['Math', 'CompSci'], 'grade': 'A'}
{'green', 'blue', 'red'}
{'green', 'yellow', 'blue', 'red'}
{'yellow', 'blue', 'red'}
['Inception', 'The Matrix', 'Interstellar']
{'title': '1984', 'author': 'George Orwell', 'year_published': 1949}
{'classical', 'jazz', 'rock'}

# Python Practice: Functions and Modules
Practice writing Python functions and using modules with examples and exercises.

In [4]:
# Python Practice: Functions and Modules

# Functions
# Define a function to greet a user
def greet_user(name):
    return f"Hello, {name}!"

# Call the function and print the result
print(greet_user("Alice"))

# Define a function to calculate the factorial of a number
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n-1)

# Call the function and print the result
print(factorial(5))

# Modules
# Import the math module
import math

# Use the math module to calculate the square root of a number
print(math.sqrt(16))

# Use the math module to calculate the sine of a number
print(math.sin(math.pi / 2))

# Exercises
# 1. Define a function that takes a list of numbers and returns the sum of the numbers.
def sum_of_numbers(numbers):
    return sum(numbers)

# Test the function
print(sum_of_numbers([1, 2, 3, 4, 5]))

# 2. Define a function that takes a string and returns the string in reverse.
def reverse_string(s):
    return s[::-1]

# Test the function
print(reverse_string("hello"))

# 3. Import the random module and use it to generate a random number between 1 and 10.
import random

# Generate a random number
print(random.randint(1, 10))

Hello, Alice!
120
4.0
1.0
15
olleh
8

# Python Practice: File Handling
Practice reading from and writing to files in Python with examples and exercises.

In [5]:
# Python Practice: File Handling

# Writing to a file
with open("example.txt", "w") as file:
    file.write("Hello, this is a test file.\n")
    file.write("We are practicing file handling in Python.\n")

# Reading from a file
with open("example.txt", "r") as file:
    content = file.read()
    print(content)

# Appending to a file
with open("example.txt", "a") as file:
    file.write("Appending a new line to the file.\n")

# Reading the updated file
with open("example.txt", "r") as file:
    updated_content = file.read()
    print(updated_content)

# Exercises
# 1. Write a function that writes a list of strings to a file, each string on a new line.
def write_list_to_file(filename, lines):
    with open(filename, "w") as file:
        for line in lines:
            file.write(line + "\n")

# Test the function
write_list_to_file("movies.txt", ["Inception", "The Matrix", "Interstellar"])

# 2. Write a function that reads a file and returns a list of strings, each string being a line from the file.
def read_file_to_list(filename):
    with open(filename, "r") as file:
        return file.readlines()

# Test the function
print(read_file_to_list("movies.txt"))

# 3. Write a function that appends a string to a file.
def append_to_file(filename, text):
    with open(filename, "a") as file:
        file.write(text + "\n")

# Test the function
append_to_file("movies.txt", "The Dark Knight")
print(read_file_to_list("movies.txt"))

Hello, this is a test file.
We are practicing file handling in Python.

Hello, this is a test file.
We are practicing file handling in Python.
Appending a new line to the file.

['Inception\n', 'The Matrix\n', 'Interstellar\n']
['Inception\n', 'The Matrix\n', 'Interstellar\n', 'The Dark Knight\n']

# SQL Practice: Basic Queries
Practice writing basic SQL queries such as SELECT, INSERT, UPDATE, and DELETE with examples and exercises.

In [6]:
# SQL Practice: Basic Queries

# Importing the sqlite3 library to work with SQLite databases
import sqlite3

# Creating a connection to an in-memory SQLite database
conn = sqlite3.connect(':memory:')

# Creating a cursor object to interact with the database
cursor = conn.cursor()

# Creating a table named 'students'
cursor.execute('''
CREATE TABLE students (
    id INTEGER PRIMARY KEY,
    name TEXT,
    age INTEGER,
    grade TEXT
)
''')

# Inserting data into the 'students' table
cursor.execute('''
INSERT INTO students (name, age, grade)
VALUES ('John Doe', 20, 'A')
''')
cursor.execute('''
INSERT INTO students (name, age, grade)
VALUES ('Jane Smith', 22, 'B')
''')
cursor.execute('''
INSERT INTO students (name, age, grade)
VALUES ('Emily Davis', 21, 'A')
''')

# Committing the changes
conn.commit()

# Selecting all records from the 'students' table
cursor.execute('SELECT * FROM students')
students = cursor.fetchall()
print("All students:", students)

# Updating a record in the 'students' table
cursor.execute('''
UPDATE students
SET grade = 'A+'
WHERE name = 'Jane Smith'
''')

# Committing the changes
conn.commit()

# Selecting all records from the 'students' table after the update
cursor.execute('SELECT * FROM students')
students = cursor.fetchall()
print("Updated students:", students)

# Deleting a record from the 'students' table
cursor.execute('''
DELETE FROM students
WHERE name = 'John Doe'
''')

# Committing the changes
conn.commit()

# Selecting all records from the 'students' table after the deletion
cursor.execute('SELECT * FROM students')
students = cursor.fetchall()
print("Students after deletion:", students)

# Closing the connection
conn.close()

# Exercises
# 1. Create a table named 'courses' with columns 'id', 'name', and 'credits'.
# 2. Insert three records into the 'courses' table.
# 3. Select all records from the 'courses' table and print them.
# 4. Update the 'credits' of one course and print the updated records.
# 5. Delete one course and print the remaining records.

All students: [(1, 'John Doe', 20, 'A'), (2, 'Jane Smith', 22, 'B'), (3, 'Emily Davis', 21, 'A')]
Updated students: [(1, 'John Doe', 20, 'A'), (2, 'Jane Smith', 22, 'A+'), (3, 'Emily Davis', 21, 'A')]
Students after deletion: [(2, 'Jane Smith', 22, 'A+'), (3, 'Emily Davis', 21, 'A')]

# SQL Practice: Joins and Subqueries
Practice writing SQL queries involving joins and subqueries with examples and exercises.

In [7]:
# SQL Practice: Joins and Subqueries

# Importing the sqlite3 library to work with SQLite databases
import sqlite3

# Creating a connection to an in-memory SQLite database
conn = sqlite3.connect(':memory:')

# Creating a cursor object to interact with the database
cursor = conn.cursor()

# Creating a table named 'students'
cursor.execute('''
CREATE TABLE students (
    id INTEGER PRIMARY KEY,
    name TEXT,
    age INTEGER,
    grade TEXT
)
''')

# Creating a table named 'courses'
cursor.execute('''
CREATE TABLE courses (
    id INTEGER PRIMARY KEY,
    name TEXT,
    credits INTEGER
)
''')

# Creating a table named 'enrollments'
cursor.execute('''
CREATE TABLE enrollments (
    student_id INTEGER,
    course_id INTEGER,
    FOREIGN KEY (student_id) REFERENCES students(id),
    FOREIGN KEY (course_id) REFERENCES courses(id)
)
''')

# Inserting data into the 'students' table
cursor.execute('''
INSERT INTO students (name, age, grade)
VALUES ('John Doe', 20, 'A')
''')
cursor.execute('''
INSERT INTO students (name, age, grade)
VALUES ('Jane Smith', 22, 'B')
''')
cursor.execute('''
INSERT INTO students (name, age, grade)
VALUES ('Emily Davis', 21, 'A')
''')

# Inserting data into the 'courses' table
cursor.execute('''
INSERT INTO courses (name, credits)
VALUES ('Math', 3)
''')
cursor.execute('''
INSERT INTO courses (name, credits)
VALUES ('CompSci', 4)
''')
cursor.execute('''
INSERT INTO courses (name, credits)
VALUES ('History', 2)
''')

# Inserting data into the 'enrollments' table
cursor.execute('''
INSERT INTO enrollments (student_id, course_id)
VALUES (1, 1)
''')
cursor.execute('''
INSERT INTO enrollments (student_id, course_id)
VALUES (1, 2)
''')
cursor.execute('''
INSERT INTO enrollments (student_id, course_id)
VALUES (2, 2)
''')
cursor.execute('''
INSERT INTO enrollments (student_id, course_id)
VALUES (3, 3)
''')

# Committing the changes
conn.commit()

# Selecting all students and their enrolled courses using JOIN
cursor.execute('''
SELECT students.name, courses.name
FROM students
JOIN enrollments ON students.id = enrollments.student_id
JOIN courses ON courses.id = enrollments.course_id
''')
student_courses = cursor.fetchall()
print("Students and their courses:", student_courses)

# Selecting students who are enrolled in 'CompSci' course using subquery
cursor.execute('''
SELECT name
FROM students
WHERE id IN (
    SELECT student_id
    FROM enrollments
    WHERE course_id = (SELECT id FROM courses WHERE name = 'CompSci')
)
''')
compsci_students = cursor.fetchall()
print("Students enrolled in CompSci:", compsci_students)

# Exercises
# 1. Select all courses and the number of students enrolled in each course.
cursor.execute('''
SELECT courses.name, COUNT(enrollments.student_id) as num_students
FROM courses
LEFT JOIN enrollments ON courses.id = enrollments.course_id
GROUP BY courses.name
''')
courses_enrollment = cursor.fetchall()
print("Courses and number of students enrolled:", courses_enrollment)

# 2. Select the names of students who are not enrolled in any course.
cursor.execute('''
SELECT name
FROM students
WHERE id NOT IN (
    SELECT student_id
    FROM enrollments
)
''')
students_not_enrolled = cursor.fetchall()
print("Students not enrolled in any course:", students_not_enrolled)

# Closing the connection
conn.close()

Students and their courses: [('John Doe', 'Math'), ('John Doe', 'CompSci'), ('Jane Smith', 'CompSci'), ('Emily Davis', 'History')]
Students enrolled in CompSci: [('John Doe',), ('Jane Smith',)]
Courses and number of students enrolled: [('CompSci', 2), ('History', 1), ('Math', 1)]
Students not enrolled in any course: []

# Python and SQL Integration: SQLite
Practice integrating Python with SQL using SQLite, including creating databases, tables, and performing queries from Python.

In [8]:
# Python and SQL Integration: SQLite

# Importing the sqlite3 library to work with SQLite databases
import sqlite3

# Creating a connection to an in-memory SQLite database
conn = sqlite3.connect(':memory:')

# Creating a cursor object to interact with the database
cursor = conn.cursor()

# Creating a table named 'employees'
cursor.execute('''
CREATE TABLE employees (
    id INTEGER PRIMARY KEY,
    name TEXT,
    position TEXT,
    salary REAL
)
''')

# Inserting data into the 'employees' table
cursor.execute('''
INSERT INTO employees (name, position, salary)
VALUES ('Alice Johnson', 'Manager', 75000)
''')
cursor.execute('''
INSERT INTO employees (name, position, salary)
VALUES ('Bob Smith', 'Developer', 65000)
''')
cursor.execute('''
INSERT INTO employees (name, position, salary)
VALUES ('Carol White', 'Designer', 60000)
''')

# Committing the changes
conn.commit()

# Selecting all records from the 'employees' table
cursor.execute('SELECT * FROM employees')
employees = cursor.fetchall()
print("All employees:", employees)

# Updating a record in the 'employees' table
cursor.execute('''
UPDATE employees
SET salary = 70000
WHERE name = 'Bob Smith'
''')

# Committing the changes
conn.commit()

# Selecting all records from the 'employees' table after the update
cursor.execute('SELECT * FROM employees')
employees = cursor.fetchall()
print("Updated employees:", employees)

# Deleting a record from the 'employees' table
cursor.execute('''
DELETE FROM employees
WHERE name = 'Alice Johnson'
''')

# Committing the changes
conn.commit()

# Selecting all records from the 'employees' table after the deletion
cursor.execute('SELECT * FROM employees')
employees = cursor.fetchall()
print("Employees after deletion:", employees)

# Closing the connection
conn.close()

# Exercises
# 1. Create a table named 'departments' with columns 'id', 'name', and 'budget'.
# 2. Insert three records into the 'departments' table.
# 3. Select all records from the 'departments' table and print them.
# 4. Update the 'budget' of one department and print the updated records.
# 5. Delete one department and print the remaining records.

All employees: [(1, 'Alice Johnson', 'Manager', 75000.0), (2, 'Bob Smith', 'Developer', 65000.0), (3, 'Carol White', 'Designer', 60000.0)]
Updated employees: [(1, 'Alice Johnson', 'Manager', 75000.0), (2, 'Bob Smith', 'Developer', 70000.0), (3, 'Carol White', 'Designer', 60000.0)]
Employees after deletion: [(2, 'Bob Smith', 'Developer', 70000.0), (3, 'Carol White', 'Designer', 60000.0)]